<%= form_for @project do |f| %>

  <div class="form_control">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form_control">
    <%= f.submit 'Добавить' %>
  </div>

<% end %>