<h1> Задачи </h1>

<% @projects.each do |project| %>
    <h2> <%= project.title %> </h2>
    <% project.todos.all.each do |todo| %>
      <p><%= todo.text %> <%= check_box('tag', todo.__id__, {checked: todo.isCompleted}) %></p>
    <% end %>
<% end %>
<h2><%= link_to 'Добавление новой задачи', new_project_path %></h2>